*{
 margin: 0px;
 padding: 0px;
}

.bgc_image{
    width:100%;
    position: sticky;
    top:0px;
}
.header{
    display: flex;
    background-color:black;
    padding: 15px;
    font-family: "poppins";
   
}
.logo{
    width: 80px;
    height: 30px;
    padding:0px 20px;
    padding-top: 5px;
    padding-right: 60px;
    border-right:2px solid #fff;
}
.menu{
    display: flex;
    align-items: center;
    justify-items: center;
}
.ul{
    display: flex;
    list-style: none;
    color:white ;
}
.ul li{
    padding-left:40px;
}
.buytoken{
    width:100px;
    height: 40px;
    background-color: purple;
    position: absolute;
    right:20px;
    border-radius: 5px;
}
.buytoken a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.hero{
    background-image: url("bgcp3.png");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    height: 91vh;
}
.hero h1{
    padding-top: 10%;
    font-family: "poppins";
    color:white;
    font-weight: 800;
    font-size: 52px;
}
.hero p{
    font-family: "poppins";
    font-size: 21px;
    color: #fff;
}
.hero button{
    width:240px;
    height: 50px;
    background-color: purple;
    border-radius: 5px;
    border: 1px solid purple;
    margin-top:3%;
   
}
.hero button a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
    